:root {
  --primary: #FE4A49;
  --secondary: #FED766;
  --primary-button:  #009FB7;
  --secondary-button:  #E6E6EA;
  --unselect-button: #E6E6EA;
  --select-button: #009FB7;
  --cannot-select: gray;
  --cannot-unselect: red;
  --light: #F4F4F8;
  --dark: #1C1C21;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

